div.social-options > ul {
    list-style-type: none;
    padding: 0px;
}

    div.social-options > ul li {
        display: inline;
    }

div.social-options i {
    font-size: 1.25em;
}

div.social-options > ul li:not(:last-child) {
    margin-right: 10px;
}

div.social-options {
    text-align: right;
}
