<ul class="nav navbar-nav">
    <li id="trending" ng-class="{'selected': $currentFilter == 'trending'}">
        <a href="#">Trending</a>
    </li>
    <li id="popular" ng-class="{'selected': $currentFilter == 'popular'}">
        <a href="#">Popular</a>
    </li>
    <li id="people" ng-class="{'selected': $currentFilter == 'people'}">
        <a href="#">People</a>
    </li>
    <li id="places" ng-class="{'selected': $currentFilter == 'places'}">
        <a href="#">Places</a>
    </li>
    <li id="lifestyle" ng-class="{'selected': $currentFilter == 'lifestyle'}">
        <a href="#">Lifestyle</a>
    </li>
</ul>
