<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="RemoveAll"/>
  <connectionStrings xdt:Transform="Insert">
    <add name="DefaultConnection" 
         connectionString="Server=tcp:hgdb-beta.database.windows.net,1433;Initial Catalog=hg_db_beta;Persist Security Info=False;User ID=bbacon;Password=Password01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />    
  </connectionStrings>

  <appSettings>
    <add key="CloudStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=humangavelblobs;AccountKey=xBcw/lpbg6CGBjkreb9u5f2hQdO+VEdXpkH4NykWY+X5/WqW7DcgHkr06FW9J2+wyxApVnTazslvqL3NfRvPsQ==" xdt:Transform="Insert"/>
  </appSettings>
  
</configuration>