<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="RemoveAll"/>
  <appSettings xdt:Transform="Insert">
    <add key="DocumentDbURI" value="https://humangavel.documents.azure.com:443/"/>
    <add key="DocumentDbKey" value="2RucnUtuIu1h4eX9c3TzPXT6FWhd1QUjopzFht5lhLdjN2YGDMbursuefo1DCdHaZ6IZJk7jULhyO88WDOhjpw=="/>
  </appSettings>
  
</configuration>