<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="RemoveAll"/>
  <connectionStrings xdt:Transform="Insert">
    <add name="DefaultConnection" connectionString="Data Source=.;Database=HumanGavelDb;Integrated Security=SSPI" 
         providerName="System.Data.SqlClient" />    
  </connectionStrings>

  <appSettings>
    <add key="CloudStorageConnectionString" value="UseDevelopmentStorage=true" xdt:Transform="Insert" />
  </appSettings>
  
</configuration>